:root {
    --bg-color: #fafafa;
    --text-color: #222;
    --link-color: #0d6cca;
    --heading-color: #000;
    --hover-colour: #e0e0e0;
}

/* The .dark-mode class will be added to the <body> with JavaScript */
.dark-mode {
    --bg-color: #222;
    --text-color: #fafafa;
    --link-color: #80c6ff;
    --heading-color: #eee;
    --hover-colour: #444;
}

body{
    margin: 0;
    text-align: center;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: system-ui, sans-serif;
    padding: 20px;
    padding-bottom: 0;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Dark Theme */
body.dark-mode {
    background-color: #121212;
    color: #f0f0f0;
}

/* button {
    margin: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
  } */

.top-container{
    margin: 0%;
    padding-top: 100px;
}

.profile-img{
    width: 200px;
    border-radius: 30%;
}

.skill-img{
    width: 400px;
    border-radius: 50%;
}

.footer-link{
    margin: 20px;
}

footer{
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    background-color: rgb(37, 35, 35);
    padding: 10px;
    text-align: center;
    color: white;
    font-family: 'Merriweather', serif;
    text-decoration: none;
}

.bottom-container{
    color: blanchedalmond;
    text-decoration: none;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
/* .background-image{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: -1;
    width: 100%;
} */

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: system-ui, sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
}

h1 {
    color: var(--heading-color);
}

a {
    color: var(--link-color);
}

/* Optional: Style the button */
.theme-toggle {
    cursor: pointer;
    border: none;
    align-items: last baseline;
    padding: 0.5em 1em;
    background-color: var(--bg-color);
    color: var(--text-color);
    cursor: pointer;
    border-radius: 5px;
}

.theme-toggle:hover {
    background-color: var(--hover-colour);
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 5px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.openbtn {
    cursor: pointer;
    border: none;
    align-items: last baseline;
    padding: 0.5em 1em;
    background-color: var(--bg-color);
    color: var(--text-color);
    cursor: pointer;
    border-radius: 5px;
    text-align: left;
}

.openbtn:hover {
    background-color: var(--hover-colour);
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}